The Nobel Prize has been among the most prestigious international awards since 1901. Each year, awards are bestowed in chemistry, literature, physics, physiology or medicine, economics, and peace. In addition to the honor, prestige, and substantial prize money, the recipient also gets a gold medal with an image of Alfred Nobel (1833 - 1896), who established the prize.

![](Nobel_Prize.png)

The Nobel Foundation has made a dataset available of all prize winners from the outset of the awards from 1901 to 2023. The dataset used in this project is from the Nobel Prize API and is available in the `nobel.csv` file in the `data` folder.

In this project, you'll get a chance to explore and answer several questions related to this prizewinning data. And we encourage you then to explore further questions that you're interested in!

In [110]:
# Questions: 
# What is the most commonly awarded gender and birth country?, 
# Which decade had the highest ratio of US-born Nobel Prize winners to total winners in all categories?, 
# Which decade and Nobel Prize category combination had the highest proportion of female laureates?, 
# Who was the first woman to receive a Nobel Prize, and in what category?, 
# Which individuals or organizations have won more than one Nobel Prize throughout the years?

# Loading in required libraries
import pandas as pd
import seaborn as sns
import numpy as np

# loading in the Nobel Foundation Data
nobel_data = pd.read_csv('data/nobel.csv')

#Check out the head of the data
print(nobel_data.head(12))

    year    category                                           prize  \
0   1901   Chemistry               The Nobel Prize in Chemistry 1901
1   1901  Literature              The Nobel Prize in Literature 1901
2   1901    Medicine  The Nobel Prize in Physiology or Medicine 1901
3   1901       Peace                      The Nobel Peace Prize 1901
4   1901       Peace                      The Nobel Peace Prize 1901
5   1901     Physics                 The Nobel Prize in Physics 1901
6   1902   Chemistry               The Nobel Prize in Chemistry 1902
7   1902  Literature              The Nobel Prize in Literature 1902
8   1902    Medicine  The Nobel Prize in Physiology or Medicine 1902
9   1902       Peace                      The Nobel Peace Prize 1902
10  1902       Peace                      The Nobel Peace Prize 1902
11  1902     Physics                 The Nobel Prize in Physics 1902

                                           motivation prize_share  \
0   "in recognition of the extraordinary services ...         1/1
1   "in special recognition of his poetic composit...         1/1
2   "for his work on serum therapy, especially its...         1/1
3                                                 NaN         1/2
4                                                 NaN         1/2
5   "in recognition of the extraordinary services ...         1/1
6   "in recognition of the extraordinary services ...         1/1
7   "the greatest living master of the art of hist...         1/1
8   "for his work on malaria, by which he has show...         1/1
9                                                 NaN         1/2
10                                                NaN         1/2
11  "in recognition of the extraordinary service t...         1/2

    laureate_id laureate_type                           full_name  birth_date  \
0           160    Individual        Jacobus Henricus van 't Hoff  1852-08-30
1           569    Individual                     Sully Prudhomme  1839-03-16
2           293    Individual              Emil Adolf von Behring  1854-03-15
3           462    Individual                   Jean Henry Dunant  1828-05-08
4           463    Individual                      Frédéric Passy  1822-05-20
5             1    Individual              Wilhelm Conrad Röntgen  1845-03-27
6           161    Individual                Hermann Emil Fischer  1852-10-09
7           571    Individual  Christian Matthias Theodor Mommsen  1817-11-30
8           294    Individual                         Ronald Ross  1857-05-13
9           464    Individual                       Élie Ducommun  1833-02-19
10          465    Individual                Charles Albert Gobat  1843-05-21
11            2    Individual              Hendrik Antoon Lorentz  1853-07-18

            birth_city        birth_country   sex   organization_name  \
0            Rotterdam          Netherlands  Male   Berlin University
1                Paris               France  Male                 NaN
2    Hansdorf (Lawice)     Prussia (Poland)  Male  Marburg University
3               Geneva          Switzerland  Male                 NaN
4                Paris               France  Male                 NaN
5   Lennep (Remscheid)    Prussia (Germany)  Male   Munich University
6           Euskirchen    Prussia (Germany)  Male   Berlin University
7              Garding  Schleswig (Germany)  Male                 NaN
8               Almora                India  Male  University College
9               Geneva          Switzerland  Male                 NaN
10            Tramelan          Switzerland  Male                 NaN
11              Arnhem          Netherlands  Male   Leiden University

   organization_city organization_country  death_date      death_city  \
0             Berlin              Germany  1911-03-01          Berlin
1                NaN                  NaN  1907-09-07        Châtenay
2            Marburg              Germany  1917-03-31         Marburg
3                NaN                  NaN  1910-10-30          Heiden
4                NaN                  NaN  1912-06-12           Paris
5             Munich              Germany  1923-02-10          Munich
6             Berlin              Germany  1919-07-15          Berlin
7                NaN                  NaN  1903-11-01  Charlottenburg
8          Liverpool       United Kingdom  1932-09-16    Putney Heath
9                NaN                  NaN  1906-12-07            Bern
10               NaN                  NaN  1914-03-16            Bern
11            Leiden          Netherlands  1928-02-04             NaN

     death_country
0          Germany
1           France
2          Germany
3      Switzerland
4           France
5          Germany
6          Germany
7          Germany
8   United Kingdom
9      Switzerland
10     Switzerland
11     Netherlands

In [111]:
# Display the number of nobel prizes given out from 1901 to 2023
display(len(nobel_data))

# Show the number of prizes won by males and females
display(nobel_data['sex'].value_counts())
top_gender = 'Male'

# Show the number of prizes won by the top 10 countries
display(nobel_data['birth_country'].value_counts().head(10))
top_country = 'United States of America'

1000

Male      905
Female     65
Name: sex, dtype: int64

United States of America    291
United Kingdom               91
Germany                      67
France                       58
Sweden                       30
Japan                        28
Canada                       21
Switzerland                  19
Netherlands                  19
Italy                        18
Name: birth_country, dtype: int64

In [112]:
# The decade with the highest ratio of US-born winners
nobel_data['usa_born_winner'] = nobel_data['birth_country'] == 'United States of America'
nobel_data['decade'] = (np.floor(nobel_data['year'] / 10) * 10).astype(int)
ratio_usa_winners = nobel_data.groupby(['decade'], as_index=False)['usa_born_winner'].mean()

# Display ratio of USA born winners per decade
display(ratio_usa_winners)

max_decade_usa = 2000

    decade  usa_born_winner
0     1900         0.017544
1     1910         0.075000
2     1920         0.074074
3     1930         0.250000
4     1940         0.302326
5     1950         0.291667
6     1960         0.265823
7     1970         0.317308
8     1980         0.319588
9     1990         0.403846
10    2000         0.422764
11    2010         0.314050
12    2020         0.360000

In [113]:
# Decade with highest proportion of female laureates
nobel_data['female_winner'] = nobel_data['sex'] == 'Female'
ratio_female_winners = nobel_data.groupby(['decade', 'category'], as_index=False)['female_winner'].mean()

# Find the decade with the highest proportion of female winners
max_female_winner = ratio_female_winners.loc[ratio_female_winners['female_winner'].idxmax()]

# Create a dictionary with the decade and the proportion of female winners
max_female_dict = {max_female_winner['decade']: max_female_winner['category']}
max_female_dict

{2020: 'Literature'}

In [114]:
#first woman to receive a Nobel Prize and the category
nobel_data[nobel_data['female_winner']==True].nsmallest(1, 'year')
first_woman_name = 'Marie Curie, née Sklodowska'
first_woman_category = 'Physics'

In [115]:
# Laureates who have won 2 or more nobel prizes
nobel_data.groupby('full_name').filter(lambda x: len(x)>1 )

repeat_list = ['Marie Curie, née Sklodowska', 'Comité international de la Croix Rouge (International Committee of the Red Cross)', 'Linus Carl Pauling', 'Office of the United Nations High Commissioner for Refugees (UNHCR)', 'John Bardeen', 'Frederick Sanger']